<a href="https://colab.research.google.com/github/clotpoledollophead/pythonforbeginners/blob/main/Python_Tutorial_Python_Full_Course_for_Beginners_(Programming_With_Mosh)_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Variables**

In [ ]:
price = 10
print(price)

10

In [ ]:
price = 10
price = 20
print(price)

20

In [ ]:
price = 10 # integer
rating = 4.0 # floating point
name = 'Mosh' # string
is_published = True # Boolean

*Exercise*

We check in a patient named John Smith.
He's 20 years old and is a new patient.

In [ ]:
name = "John Smith"
age = 20
is_new = True

print(name)
print(age)
print(is_new)

John Smith
20
True

**Receiving Input**

In [ ]:
name = input('What is your name? ')
print('Hi ' + name)

What is your name? ExampleName
Hi ExampleName

*Exercise*

Ask two questions: Person's name and favorite color. Then, print a message like "Mosh likes blue"

In [ ]:
name = input('What is your name? ')
color = input('What is your favorite color? ')
print(name + ' likes ' + color)

What is your name? Mosh
What is your favorite color? blue
Mosh likes blue

*Type Conversion*

In [ ]:
birth_year = int(input('Birth year: '))
age = 2023 - birth_year
print(age)

Birth year: 2003
20

In [ ]:
birth_year = input('Birth year: ')
print(type(birth_year))
age = 2023 - int(birth_year)
print(type(age))
print(age)

Birth year: 2003
<class 'str'>
<class 'int'>
20

*Exercise*

Ask a user their weight (in pounds), convert it to kilograms and print on the terminal.

In [ ]:
pounds = int(input('What is your weight in pounds? '))
weight = pounds / 2.2046226218
print(weight)

What is your weight in pounds? 132
59.87419284132468

**Strings**

In [ ]:
course = "Python's Course for Beginners"
print(course)

Python's Course for 'Beginners'

In [ ]:
course = '''
Hi John, 

Here is our first email to you.

Thank you,
The support team

'''
print(course)

Hi John,

Here is our first email to you.

Thank you,
The support team

In [ ]:
course = 'Python for Beginners'
print(course[0]) # prints the first character
print(course[-1]) # prints the last character

P
s

In [ ]:
course = 'Python for Beginners'
print(course[0:3]) # prints index 0 to 3, but excludes index 3

Pyt

In [ ]:
course = 'Python for Beginners'
print(course[2:])
print(course[:5])
print(course[:])

thon for Beginners
Pytho
Python for Beginners

In [ ]:
course = 'Python for Beginners'
another = course[:]
print(another)

Python for Beginners

*Exercise*
Define a variable to "name", and set it to "Jennifer".

If we print `(name[1:-1])`, what are we going to see on the terminal?

Answer: `ennife`

In [ ]:
name = 'Jennifer'
print(name[1:-1])

ennife

**Formatted Strings**

In [ ]:
first = 'John'
last = 'Smith'
message = first + ' [' + last + '] is a coder'
print(message)

John [Smith] is a coder

In [ ]:
first = 'John'
last = 'Smith'
msg = f'{first} [{last}] is a coder'
print(msg)

John [Smith] is a coder

**String Methods**

In [ ]:
course = 'Python for Beginners'
print(len(course))

20

In [ ]:
course = 'Python for Beginners'
print(course.upper())
print(course.lower())
print(course)

PYTHON FOR BEGINNERS
python for beginners
Python for Beginners

In [ ]:
course = 'Python for Beginners'
print(course.find('P'))
print(course.find('o'))
print(course.find('O')) # returns a -1, because there is no 'O'
# Python is case sensitive
print(course.find('Beginners'))
print(course.replace('Beginners', 'Absolute Beginners'))
print(course.replace('P', 'J'))

0
4
-1
11
Python for Absolute Beginners
Jython for Beginners

In [ ]:
course = 'Python for Beginners'
'Python' in course # the "in" operator
# this is a Boolean expression
# returns either True/False (Boolean values)

True

**Arithmetic Operations**

In [ ]:
print(10 + 3)
print(10 - 3)
print(10 * 3)
print(10 ** 3)
print(10 / 3)
print(10 // 3)
print(10 % 3)

13
7
30
1000
3.3333333333333335
3
1

In [ ]:
x = 10
y = x
x = x + 3
y += 3
print(x)
print(y)

13
13

**Operator Precedence**

In [ ]:
x = 10 + 3 * 2
y = (10 + 3) * 2
print(x)
print(y)

16
26

**Math Functions**

In [ ]:
x = 2.9
print(round(x))
print(abs(-2.9))

3
2.9

In [ ]:
import math # "math" is a module
print(math.ceil(2.9))
print(math.floor(2.9))

3
2

**If Statements**


```
if it's hot
  It's a hot day
  Drink plenty of water
otherwise if it's cold
  It's a cold day
  Wear warm clothes
otherwise
  It's a lovely day
```

In [ ]:
is_hot = True
if is_hot:
  print("It's a hot day")
  print("Drink plenty of water")

print("Enjoy your day")

It's a hot day
Drink plenty of water
Enjoy your day

In [ ]:
is_hot = False
if is_hot:
  print("It's a hot day")
  print("Drink plenty of water")
else:
  print("It's a cold day")
  print("Wear warm clothes")
print("Enjoy your day")

It's a cold day
Wear warm clothes
Enjoy your day

In [ ]:
is_hot = False
is_cold = False
if is_hot:
  print("It's a hot day")
  print("Drink plenty of water")
elif is_cold:
  print("It's a cold day")
  print("Wear warm clothes")
else:
  print("It's a lovely day")
print("Enjoy your day")

It's a lovely day
Enjoy your day

*Exercise*
```
The price of a house is $1M
If buyer has good credit,
  they need to put down 10%
Otherwise
  they need to put down 20%
Print the down payment
```

In [ ]:
good_credit = True
if good_credit:
  print(1000000 * 0.1)
else:
  print(1000000 * 0.2)

100000.0

Alternate Solution:

```
price = 1000000
has_good_credit = True
if has_good_credit:
  down_payment = 0.1 * price
else:
  down_payment = 0.2 * price

print(f"Down payment: ${down_payment}")
```

**Logical Operators**



```
if applicant has high income AND good credit
  Eligible for loan
```

In [ ]:
has_high_income = True
has_good_credit = True

if has_high_income and has_good_credit:
  print("Eligible for loan")

Eligible for loan

```
if applicant has high income OR good credit
  Eligible for loan
```

In [ ]:
has_high_income = False
has_good_credit = True

if has_high_income or has_good_credit:
  print("Eligible for loan")

Eligible for loan

* AND: both
* OR: at least one
* NOT: reverses Boolean value given

```
if applicant has good credit AND doesn't have a criminal record
  Eligible for loan
```

In [ ]:
has_good_credit = True
has_criminal_record = False

if has_good_credit and not has_criminal_record:
  print("Eligible for loan")

Eligible for loan

**Comparison Operators**

```
if temperature is greater than 30
  it's a hot day
otherwise if it's less than 10
  it's a cold day
otherwise
  it's neither hot nor cold
```

In [ ]:
temperature = 30

if temperature > 30:
  print("It's a hot day")
else:
  print("It's not a hot day")

It's not a hot day

*Exercise*

```
if name is less than 3 characters long
  name must be at least 3 characetrs
otherwise if it's more than 50 mcharacters long
  name can be a maximum of 50 characters
otherwise
  name looks good!
```

In [ ]:
name = input("Please input your name: ")
name_len = len(name)
if name_len < 3:
  print("Name must be at least 3 characters long.")
elif name_len > 50:
  print("Name must be a maximum of 50 characters.")
else:
  print("Name looks good!")

Please input your name: Cindy
Name looks good!

**Project: Weight Converter Program**

Input kgs/lbs, and output lbs/kgs

In [ ]:
weight = float(input("Weight: "))
unit = input("(L)bs or (K)g: ")
if unit == "L" or unit == 'l' :
  ans = weight / 2.2046226218
  a_unit = "kilograms"
else:
  ans = weight * 2.2046226218
  a_unit = "pounds"

print(f"You are {ans} {a_unit}")

Weight: 132
(L)bs or (K)g: l
You are 59.87419284132468 kilograms

**While Loops**

In [ ]:
i = 1
while i <= 5:
  print(i)
  i += 1

print("Done")

1
2
3
4
5
Done

In [ ]:
i = 1
while i <= 5:
  print('*' * i)
  i += 1

print("Done")

*
**
***
****
*****
Done

**Building a Guessing Game***

We have three chances to guess a number. If successful, print "You win!"; if else, print "Sorry, you failed."

*Use a while loop

In [ ]:
num = 5
count = 3
while count > 0:
  guess = int(input("Guess: "))
  if guess == num:
    print("You win!")
    break
  else:
    count -= 1
    if count == 0:
      print("Sorry, you failed!")

Guess: 1
Guess: 5
You win!

**Building the Car Game**

```
if we type "help":
  start - to start the car
  stop - to stop the car
  quit - to exit

other commands:
  I don't understand that...

"start":
  Car started...Ready to go!
"stop":
  Car stopped.
"quit":
  the program terminates
```

In [ ]:
command = ""
started = False
while True:
  command = input("> ").lower()
  if command == "start":
    if started:
      print("Car is already started")
    else:
      print("Car started...")
      started = True
  elif command == "stop":
    if not started:
      print("Car is already stopped!")
    else:
      started = False
      print("Car stopped.")
  elif command == "help":
    print("""
start - to start the car
stop - to stop the car
quit - to quit the car""")
  elif command == "quit":
    break
  else:
    print("Sorry, I don't understand that...")

**For Loops**

In [ ]:
for item in 'Python':
  print(item)

P
y
t
h
o
n

In [ ]:
for item in ['Mosh', 'John', 'Sarah']:
  print(item)

Mosh
John
Sarah

In [ ]:
for item in [1, 2, 3, 4]:
  print(item)

1
2
3
4

In [ ]:
for item in range(10):
  print(item)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for item in range(5, 10):
  print(item)

5
6
7
8
9

In [ ]:
for item in range(5, 10, 2):
  print(item)

5
7
9

*Exercise*

Write a progam to calculate the total cost of all the items in a shopping cart.

In [ ]:
prices = [10, 20, 30]
total = 0

for item in prices:
  total += item

print(f"Total: {total}")

Total: 60

**Nested Loops**

In [ ]:
for x in range(4):
  for y in range(4):
    print(f"({x}, {y})")

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

*Challenge Exercise*

Use a nested loop to draw an "F" shape like the one below using X's and the list below:


```
numbers = [5, 2, 5, 2, 2]
```



```
XXXXX
XX
XXXXX
XX
XX
```

In [ ]:
numbers = [5, 2, 5, 2, 2]
i = 0
for x in numbers:
  y = 0
  while y < numbers[i]:
    print("X", end = "")
    y += 1
  print("\n")
  i += 1

XXXXX

XX

XXXXX

XX

XX

In [ ]:
# Alternate Solution
numbers = [5, 2, 5, 2, 2]
for x_count in numbers:
  output = ""
  for count in range(x_count):
    output += "X"
  print(output)

XXXXX
XX
XXXXX
XX
XX

In [ ]:
# Extra Exercise: Print an "L"
numbers = [2, 2, 2, 2, 5]
for x_count in numbers:
  output = ""
  for count in range(x_count):
    output += "X"
  print(output)

XX
XX
XX
XX
XXXXX

**Lists**

In [ ]:
names = ["John", "Bob", "Mosh", "Sarah", "Mary"]
print(names)
print(names[0])
print(names[2])
print(names[-1])
print(names[2:])
print(names[:4])
print(names[2:4])

['John', 'Bob', 'Mosh', 'Sarah', 'Mary']
John
Mosh
Mary
['Mosh', 'Sarah', 'Mary']
['John', 'Bob', 'Mosh', 'Sarah']
['Mosh', 'Sarah']

*Exercise*

Write a program to find the largest number in a list

In [ ]:
list = [5, 6, 7, 8, 6, 1, 2, 74, 6]
max = numbers[0]
for number in list:
  if number > max:
    max = number

print(max)

74

**2D Lists**

In [ ]:
matrix = [
    [1, 2, 3], 
    [4, 5, 6], 
    [7, 8, 9]
]
matrix[0][1] = 20
print(matrix[0][1])

20

In [ ]:
matrix = [
    [1, 2, 3], 
    [4, 5, 6], 
    [7, 8, 9]
]
for row in matrix:
  for item in row:
    print(item, end = "")
  print("\n")

123

456

789

**List Methods**

In [ ]:
numbers = [5, 2, 1, 7, 4]
numbers.append(20)
print(numbers)

[5, 2, 1, 7, 4, 20]

In [ ]:
numbers = [5, 2, 1, 7, 4]
numbers.insert(0, 10) # (index, object)
print(numbers)

[10, 5, 2, 1, 7, 4]

In [ ]:
numbers = [5, 2, 1, 7, 4]
numbers.remove(5)
print(numbers)

[2, 1, 7, 4]

In [ ]:
numbers = [5, 2, 1, 7, 4]
numbers.clear()
print(numbers)

[]

In [ ]:
numbers = [5, 2, 1, 7, 4]
numbers.pop() # removes the last item from the list
print(numbers)

[5, 2, 1, 7]

In [ ]:
numbers = [5, 2, 1, 7, 4]
print(numbers.index(2))

1

In [ ]:
numbers = [5, 2, 1, 7, 4]
print(50 in numbers)
# outputs a Boolean value

False

In [ ]:
numbers = [5, 2, 1, 5, 7, 4]
print(numbers.count(5))

2

In [ ]:
numbers = [5, 2, 1, 5, 7, 4]
numbers.sort() # sorts the list in ascending order
print(numbers)

[1, 2, 4, 5, 5, 7]

In [ ]:
numbers = [5, 2, 1, 5, 7, 4]
numbers.sort() # sorts the list in ascending order
numbers.reverse()
print(numbers)

[7, 5, 5, 4, 2, 1]

In [ ]:
numbers = [5, 2, 1, 5, 7, 4]
numbers2 = numbers.copy()
numbers.append(10)
print(numbers)
print(numbers2)

[5, 2, 1, 5, 7, 4, 10]
[5, 2, 1, 5, 7, 4]

*Exercise*

Write a program to remove the duplicates in a list.

In [ ]:
list = [5, 2, 4, 5, 6, 8, 9, 2]
n_list = []

for item in list:
  if item not in n_list:
    n_list.append(item)
    
print(n_list)

[5, 2, 4, 6, 8, 9]

**Tuples**

= immutable lists

In [ ]:
numbers = (1, 2, 3)
numbers.count(1)

1

In [ ]:
numbers = (1, 2, 3)
numbers.index(1)

0

In [ ]:
numbers = (1, 2, 3)
print(numbers[0])

1

**Unpacking**

In [ ]:
coordinates = (1, 2, 3)
x = coordinates[0]
y = coordinates[1]
z = coordinates[2]

print(x * y * z)

6

In [ ]:
coordinates = (1, 2, 3)
x, y, z = coordinates # this is called "unpacking"
print(x)
print(y)
print(z)

6

**Dictionaries**

```
Name: John Smith
Email: john@gmail.com
Phone: 1234
```

In [ ]:
customer = {
    "name": "John Smith", 
    "age": 30, # the keys should be unique (the thing in front of the colon)
    "is_verified": True
}

print(customer)
print(customer["name"])
print(customer.get("age"))
print(customer.get("birthdate"))
print(customer.get("birthdate", "Jan 1 1980"))

customer["name"] = "Jack Smith"
print(customer["name"])

{'name': 'John Smith', 'age': 30, 'is_verified': True}
John Smith
30
None
Jan 1 1980
Jack Smith

*Exercise*

We have a program that asks for a phone number, and we translate the digits into words, ex:


```
Phone: 1234
One Two Three Four
```

In [ ]:
translate = {
    "0": "Zero", 
    "1": "One", 
    "2": "Two", 
    "3": "Three", 
    "4": "Four", 
    "5": "Five", 
    "6": "Six", 
    "7": "Seven", 
    "8": "Eight", 
    "9": "Nine"
}

words = ""
numbers = input("Phone: ")

for num in numbers:
  words += (translate.get(num, "*") + " ")

print(words)

Phone: 25341205
Two Five Three Four One Two Zero Five

*Exercise: Emoji Converter*

In [ ]:
message = (input(">"))
words = message.split(" ") # ".split" splits input with the thing in the parentheses
print(words)

>Good morning sunshine
['Good', 'morning', 'sunshine']

In [ ]:
message = input(">")
words = message.split(" ")
emojis = {
    ":)": "😀", 
    ":(": "☹️"
}

output = ""

for word in words:
  output += emojis.get(word, word) + " "

print(output)

>I am sad :(
I am sad ☹️

**Functions**

In [ ]:
def greet_user():
  print("Hi there!")
  print("Welcome aboard")


print("Start") # add two line breaks after a function
greet_user()
print("Finish")

Start
Hi there!
Welcome aboard
Finish

*Parameters*

Parameters are placeholders for receiving information

In [ ]:
def greet_user(name):
  print(f"Hi {name}!")
  print("Welcome aboard")


print("Start")
greet_user("John")
print("Finish")

Start
Hi John!
Welcome aboard
Finish

In [ ]:
def greet_user(name):
  print(f"Hi {name}!")
  print("Welcome aboard")


print("Start") # add two line breaks after a function
greet_user("John")
greet_user("Mary")
print("Finish")

Start
Hi John!
Welcome aboard
Hi Mary!
Welcome aboard
Finish

In [ ]:
def greet_user(first_name, last_name):
  print(f"Hi {first_name} {last_name}!")
  print("Welcome aboard")


print("Start")
greet_user("John", "Smith")
print("Finish")

Start
Hi John Smith!
Welcome aboard
Finish

**Keyword Arguments**

In [ ]:
def greet_user(first_name, last_name):
  print(f"Hi {first_name} {last_name}!")
  print("Welcome aboard")


print("Start")
greet_user("Smith", "John")
print("Finish")

Start
Hi Smith John!
Welcome aboard
Finish

In [ ]:
def greet_user(first_name, last_name):
  print(f"Hi {first_name} {last_name}!")
  print("Welcome aboard")


print("Start")
greet_user(last_name = "Smith", first_name = "John")
# this is the usage of "keyword arguments"
print("Finish")

Start
Hi John Smith!
Welcome aboard
Finish

In [ ]:
def greet_user(first_name, last_name):
  print(f"Hi {first_name} {last_name}!")
  print("Welcome aboard")


print("Start")
greet_user("John", last_name = "Smith")
# we cannot add a keyword argument before a positional argument
# this means that we cannot use:
# greet_user(first_name = "John", "Smith")
print("Finish")

Start
Hi John Smith!
Welcome aboard
Finish

**Return Statement**

In [ ]:
def square(number):
  return number * number


result = square(3)
print(result)
print(square(3))

9
9

*Exercise: Create a Reusable Function*

(using the emoji converter)

In [ ]:
def emoji_converter(message):
  words = message.split(" ")
  emojis = {
      ":)": "😀", 
      ":(": "☹️"
  }

  output = ""

  for word in words:
    output += emojis.get(word, word) + " "

  return output


message = input(">")
print(emoji_converter(message))

>I'm happy :)
I'm happy 😀

**Exceptions**

```
exit code 0: program ran successfully
exit code 1: program crashed
```

In [1]:
try:
  age = int(input("Age: "))
  print(age)
except ValueError:
  print("Invalid value")
  # using an error message like this is called an "exception"

Age: asd
Invalid value

In [3]:
try:
  age = int(input("Age: "))
  income = 20000
  risk = income / age
  print(age)
except ValueError:
  print("Invalid value")
except ZeroDivisionError:
  print("Age cannot be 0.")
  # using an error message like this is called an "exception"

Age: 0
Age cannot be 0.

**Comments**

We use "#" for comments in Python

**Classes**

In [4]:
# Pascal naming convention (uses uppercase letters to separate words)
class Point:

  def move(self):
    print("move")

  def draw(self):
    print("draw")


point1 = Point()
point1.draw()

draw

In [6]:
class Point:

  def move(self):
    print("move")

  def draw(self):
    print("draw")


point1 = Point()
point1.x = 10
point1.y = 20
print(point1.x)
point1.draw()

point2 = Point()
point2.x = 1
print(point2.x)

10
draw
1

**Constructors**

In [7]:
class Point:

  # "init" is short for "initialized"
  # we use "self" to reference current object
  def __init__(self, x, y):
    # this method is called a "constructor"
    self.x = x
    self.y = y

  def move(self):
    print("move")

  def draw(self):
    print("draw")

# a constructer is a function that gets called
# at the time of creating an object
point = Point(10, 20)
print(point.x)

10

*Exercise*

Define a new type "Person", with the attributes "name" and "talk()".

In [9]:
class Person:
  
  def __init__(self, name):
    self.name = name

  def talk(self):
    print("talk")


john = Person("John Smith")
print(john.name)
john.talk()

John Smith
talk

In [13]:
class Person:
  
  def __init__(self, name):
    self.name = name

  def talk(self):
    print(f"Hi, I am {self.name}.")


john = Person("John Smith")
john.talk()

bob = Person("Bob Smith")
bob.talk()

Hi, I am John Smith.
Hi, I am Bob Smith.

**Inheritance**

In [18]:
class Mammal:
  def walk(self):
    print("walk")


class Dog(Mammal):
  def bark(self):
    print("bark")


class Cat(Mammal):
  def be_annoying(self):
    print("annoying")


dog1 = Dog()
dog1.walk()
dog1.bark()

cat1 = Cat()
cat1.walk()
cat1.be_annoying()

walk
bark
walk
annoying

**Modules**

https://youtu.be/_uQrJ0TkZlc?t=11973

*Exercise*

https://youtu.be/_uQrJ0TkZlc?t=12244

**Packages**

https://youtu.be/_uQrJ0TkZlc?t=12612

**Generating Random Values**

In [22]:
import random

for i in range(3):
  print(random.random())

0.6724931174796671
0.7709351549642328
0.3469039909602647

In [23]:
import random

for i in range(3):
  print(random.randint(10, 20))

16
16
17

In [24]:
import random

members = ["John", "Mary", "Bob", "Mosh"]
leader = random.choice(members)

print(leader)

Mary

*Exercise*

Write a program to roll two dices at once

We're going to use a class called "Dice", and we're going to have a method called "roll()". We should get the tuple of two random values.

In [33]:
import random


class Dice:
  
  def roll(self):
    dice1 = random.randint(1, 6)
    dice2 = random.randint(1, 6)
    return (dice1, dice2)


dice = Dice()
print(dice.roll())

(5, 4)

**Files and Directories**

https://youtu.be/_uQrJ0TkZlc?t=13477

In [ ]:
from pathlib import Path

# we can either use an "absolute path" or a "relative path"