<a href="https://colab.research.google.com/github/clotpoledollophead/pythonforbeginners/blob/main/Python_for_Beginners_Learn_Python_in_1_Hour_(Programming_with_Mosh)_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Hello World**

In [ ]:
print("Hello World!")

**Variables**

In [ ]:
age = 20
print(age)

In [ ]:
age = 20
age = 30
print(age)

In [ ]:
age = 20
price = 19.95
first_name = "Mosh"
is_online = False
print(age)

*Exercise*

Declare variables to store the values below:


*   We check in a patient named John Smith
*   He is 20 years old
*   He is a new patient

In [ ]:
name = "John Smith"
age = 20
new = True
print(name)
print(age)
print(new)

John Smith
20
True

**Receiving Input**

In [ ]:
name = input("What is your name? ")
print("Hello " + name) 
# using the hash sign means "string concatenation"

**Type Conversion**

In [ ]:
birth_year = input("Enter your birth year: ")
# We convert birth_year from str to int
age = 2023 - int(birth_year)
print(age)

# int, float, bool, str

*Exercise*

Write a basic calculator program to get the sum of two numbers

In [ ]:
first_num = input("First: ")
second_num = input("Second: ")
sum = float(first_num) + float(second_num)
print("Sum: " + str(sum))

Alternate solution:

```
first = float(input("First: "))
second = float(input("Second: "))
sum = first + second
print("Sum: " + str(sum))
```

**Strings**

In [ ]:
course = 'Python for Beginners'
# the string variable "course" is also a "string object"
# which has a lot of capabilities/functions
# if we type a "." after the variable
# we can add these capabilities/functions
# we refer to these capabilities/functions as "methods"
print(course.upper())
print(course)
# as seen, these methods do not affect the original variable

In [ ]:
course = 'Python for Beginners'
print(course.find('y'))
print(course.find('Y'))
print(course.find('for'))
# the function up above shows the index of the character

In [ ]:
course = 'Python for Beginners'
print(course.replace('for', '4'))

In [ ]:
course = 'Python for Beginners'
print(course.find('Python'))

# now we check if "Python" is in the string "course"
print('Python' in course)

**Arithmetic Operations**

In [ ]:
# addition
print(10 + 3)

# subtraction
print(10 - 3)

# multiplication
print(10 * 3)

#division (float)
print(10 / 3)

#division (int)
print(10 // 3)

#remainder
print(10 % 3)

#exponent
print(10 ** 3)

In [ ]:
x = 10
x = x + 3
print(x)

y = 10
# the augmented assignment operator
y += 3
# more examples: "-=", "*=", etc.
print(y)

**Operator Precedence**

In [ ]:
x = 10 + 3 * 2
print(x)

y = (10 + 3) * 2
print(y)

**Comparison Operators**

In [ ]:
x = 3 > 2
print(x)
# this returns a boolean value
# the comparison operators: ">", "<". ">=", "<=", "==", "!="

**Logical Operators**

In [ ]:
price = 25
print(not price > 10)

# the logical operators:
# "and"(both), "or"(at least one), "not"(inverses bool value given)

**If Statements**

In [ ]:
temperature = 35

if temperature > 30:
  print("It's a hot day")
  print("Drink plenty of water")
elif temperature > 20: 
  # this indicates that: temperature is within the range (20, 30]
  print("It's a nice day")
elif temperature > 10:
  # this indicates that: temperature is within the range (10, 20]
  print("It's a bit cold")
else:
  print("It's cold")
  
print("Done")

*Exercise*

Write a weight converter program that converts kg to lbs and vice versa.

Example Output:
```
Weight: 170
(K)g or (L)bs: l
Weight in Kg: 76.5
```
tip: 
1 kg = 2.20462262 lb

In [ ]:
weight = float(input("Weight: "))
unit = input("(K)g or (L)bs: ")
if unit == "K" or unit == "k":
  ans = weight * 2.20462262
  print("Weight in Lbs: " + str(ans))
elif unit == "L" or unit == "l":
  ans = weight / 2.20462262
  print("Weight in Kg: " + str(ans))
else:
  print("error")

Alternate solution:
```
weight = int(input("Weight: "))
unit = input("(K)g or (L)bs: ")
if unit.upper() == "K":
  converted = weight / 0.45
  print("Weight in Lbs: " + str(converted))
else:
  converted = weight * 0.45
  print("Weight in Kgs: " + str(converted))
```

**While Loops**

In [ ]:
i = 1
while i <= 10:
  print(i)
  i += 1

In [ ]:
i = 1
while i <= 10:
  print(i * '*')
  i += 1

**Lists**

In [ ]:
names = ["John", "Bob", "Mosh", "Sam", "Mary"]
print(names)

In [ ]:
names = ["John", "Bob", "Mosh", "Sam", "Mary"]
print(names[0])
print(names[-1])

In [ ]:
names = ["John", "Bob", "Mosh", "Sam", "Mary"]
names[0] = "Jon"
print(names)

In [ ]:
names = ["John", "Bob", "Mosh", "Sam", "Mary"]
names[0] = "Jon"
print(names[0:3])
# this prints the first index but excludes the final index
# this expression also does not modify the original list
# but it returns a new list

**List Methods**

In [ ]:
# the "append" method
numbers = [1, 2, 3, 4, 5]
numbers.append(6)
print(numbers)

In [ ]:
# the "insert" method
numbers = [1, 2, 3, 4, 5]
numbers.insert(0, -1)
# we can insert any type of object (ex: number, bool, str, list)
print(numbers)

In [ ]:
# the "remove" method
# removes stuff from the list
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

In [ ]:
# the "clear" method
# clears the entire list
numbers = [1, 2, 3, 4, 5]
numbers.clear()
print(numbers)

In [ ]:
# the "in" operator
numbers = [1, 2, 3, 4, 5]
print(10 in numbers)
# the above returns a boolean value

In [ ]:
# the "len" function
# returns the length of the list
numbers = [1, 2, 3, 4, 5]
print(len(numbers))

**For Loops**

In [ ]:
numbers = [1, 2, 3, 4, 5]
for item in numbers:
  print(item)

This can also be written as a while loop as shown below:
```
i = 0
while i < len(numbers):
  print(numbers[i])
  i += 1
```

**The range() Function**

In [ ]:
range(5)
# this returns a "range object"
# which can store a sequence of numbers

In [ ]:
numbers = range(5)
print(numbers)

In [ ]:
numbers = range(5)
for number in numbers:
  print(number)

In [ ]:
numbers = range(5, 10)
# range(starting value, ending value)
# the starting value is included
# but the ending value is excluded
for number in numbers:
  print(number)

In [ ]:
numbers = range(5, 10, 2)
# range(starting value, ending value, increment)
for number in numbers:
  print(number)

In [ ]:
for number in range(5):
  print(number)

**Tuples**

(*tuples* are like *lists*, but we cannot change them once we create them, aka immutable)

In [ ]:
numbers = (1, 2, 3, 3)
numbers.count(3)

In [ ]:
numbers = (1, 2, 3, 3)
numbers.index(3)